<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/people/Wanderlust-Demo/pfbid02MwZp4N5SnebMss6KGys6FsVRYT7VSLSRWq48uUHAFLzHpbZnStx7rj1dbvHsTZNwl/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wanderlust.demo/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/wanderlust-demo-2237653a4/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a><a href="/terms">Terms</a>
        </div>
    </div>
</footer>