body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    /* margin-left: 50px ; */
    /* text-align: center !important; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

.container{
    flex: 1;
}

.page-container{
    margin-left: 40px;
    margin-right: 40px;
}

/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
    /* margin-left: 0% !important; */
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-socials a{
    /* text-decoration: none; */
    color: blue;
    opacity: 0.65;
}

.f-info-socials a:hover{
    /* text-decoration: none; */
    /* color: blue; */
    opacity: 1;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}


.f-info-socials i{
    margin-top: 5px;
    margin-right: 1rem;
    font-size: 1.7rem;
    /* margin-top: 0.25rem; */

}



.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

/* Cards */

.listing-card{
    border:none !important ;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 0.8rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 500 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* Show Page  */

.show-img{
    /* display: flex !important; */
    height: 40vh;
    width: 65vh !important;
}


.btns{
    display: flex;
}

.show-card{
    padding-left: 0 ;
    padding-right: 0;
}


/* map */

#map { 
   height: 350px;
   width: 80vh;
}


.mapboxgl-popup-content h4 {
  margin: 0;
  font-size: 18px;
}

.mapboxgl-popup-content p {
  margin: 6px 0 0;
  font-size: 13px;
  color: #555;
}

.mapboxgl-popup-content{
    border-radius: 20px;
}

.mapboxgl-marker {
  cursor: pointer;
}

/* login page */

.login-wrapper {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background: #ffffff !important;
    border-radius: 18px;
    padding: 2.5rem;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
}

.login-card h3 {
    text-align: center;
    margin-bottom: 1.8rem;
    color: #ff385c;
    font-weight: 400 !important;
}

.form-label {
    font-weight: 500 !important;
}

.form-control {
    border-radius: 12px;
    padding: 0.8rem;
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #ff385c !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 56, 92, 0.15);
}

.login-btn {
    background-color: #ff385c !important;
    color: white !important;
    border-radius: 30px;
    padding: 0.7rem;
    font-weight: 600 !important;
    border: none;
}

.login-btn:hover {
    background-color: #e03150 !important;
}

.extra-links {
    text-align: center;
    margin-top: 1.2rem;
}

.extra-links a {
    text-decoration: none;
    color: #ff385c !important;
    font-weight: 700 !important;
}

#togglePassword {
    position: absolute;
    top: 45px;
    right: 15px;
    cursor: pointer;
    color: #999 !important;
  }

#togglePassword:hover {
    color: #ff385c !important;
}

/* signup page */
.login-wrapper1 {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-btn {
    background-color: #ff385c !important;
    color: white !important;
    border-radius: 30px;
    padding: 0.7rem;
    font-weight: 600 !important;
    border: none;
}

.sign-btn:hover {
    background-color: #e03150 !important;
}


