<% layout('/layouts/bollerplate') -%>

<div class="page-container">
        <div class="login-wrapper">
            <div class="login-card">
                <h3><i class="fa-solid fa-compass"></i> Login on Wanderlust</h3>
                <form action="/login" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="username" required>
                    </div>
                
                    <div class="mb-3 position-relative">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                        <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
                    </div>

                    <button  class="btn login-btn w-100" type="submit">Login</button>
                </form>
                <div class="extra-links">
                        <p class="mt-3 mb-1">Don’t have an account?</p>
                        <a href="/signup">Create account</a>
                </div>
        </div>
    </div>
</div>



<script>
    const togglePassword = document.getElementById("togglePassword");
    const password = document.getElementById("password");

    togglePassword.addEventListener("click", function () {

    if (this.classList.contains("fa-eye-slash")) {
        password.type = "text";          
        this.classList.remove("fa-eye-slash");
        this.classList.add("fa-eye");
    } 
    else {
        password.type = "password";     
        this.classList.remove("fa-eye");
        this.classList.add("fa-eye-slash");
    }

    });

</script>






